# --- PROJECT SETTINGS ---
PROJECT_NAME=mutuca-lakehouse
TZ=America/Sao_Paulo

# --- MINIO (Object Storage) ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=minio_admin_password
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001
MINIO_ENDPOINT="http://minio:9000"

# --- POSTGRESQL (Metastore Compartilhado) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=adminpass
POSTGRES_DB=postgres

# --- AIRFLOW SECURITY ---
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin_super_secreto
AIRFLOW_ADMIN_EMAIL=admin@lakehouse.com.br
