# OCI_USER
# OCID do usuário que será utilizado para autenticação no Oracle Cloud Infrastructure (OCI).
# Esse valor é único e específico para o seu usuário. Exemplo: "ocid1.user.oc1..aaaaaaaabcde1234".

# OCI_KEY_FILE_PATH
# Caminho para o arquivo PEM que contém a chave privada utilizada para autenticação.
# Esse arquivo deve ser gerado no processo de configuração do cliente OCI.
# Exemplo: "$HOME/.oci/arquivo.pem".

# OCI_FINGERPRINT
# Impressão digital (fingerprint) associada à chave pública vinculada ao usuário no OCI.
# Esse valor deve corresponder ao fingerprint configurado no Console do Oracle Cloud Infrastructure.
# Exemplo: "51:61:30:6f:01:37:65:89:0f:05:3d:13:cd:96:34:5b".

# OCI_TENANCY
# OCID do tenant (locatário) que representa à conta no OCI.
# Esse valor é único para cada conta/organização. Exemplo: "ocid1.tenancy.oc1..aaaaaaaaxyz123".

# OCI_REGION
# Região onde os recursos do OCI serão gerenciados.
# Utilize o código da região correspondente. 

# OCI_BUCKET_NAME
# Nome do bucket no OCI Object Storage onde os arquivos serão armazenados.
# Certifique-se de que o bucket já está criado e que você tem permissões para acessá-lo.

# OCI_NAMESPACE
# Namespace associado ao tenant no OCI.
# Esse valor é único para cada tenant e pode ser obtido no Console do Object Storage.

# OBS: Renomeie este arquivo de `env_example` para `.env`

OCI_USER=""
OCI_KEY_FILE_PATH=""
OCI_FINGERPRINT=""
OCI_TENANCY=""
OCI_REGION=""
OCI_BUCKET_NAME=""
OCI_NAMESPACE=""
